.gradient-text {
    background: linear-gradient(to right, #0061ff 0%, #e81cff 80%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bg-gradient{
    background: linear-gradient(to right, #1e59fc, #e81cff 100%);
}
a:hover{
    color: #EAFF00;    
}
a.active{
    /* color: #EAFF00;   */
    border-bottom: 2px solid #EAFF00;   
    padding: 0 7px 0;
    
}
